/* google-font */
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Playfair+Display:ital,wght@1,500&family=Poppins:wght@500&display=swap');

/* common-style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* ---------------
header-style-start
------------------ */
.container{
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    background-color:#161616;
    width: 929px;
    height: 400px;
    border-radius: 20px;
    padding-left: 85px;
    padding-top: 80px;
    margin-bottom: 100px;
}

.greatest-show{
    width: 400px;
    height: 350px;
    color:#FFFFFF;
}

.player img{
    Width: 400px;
    Height: 450px;
    position: relative;
    bottom: 50px;
    margin-left: 50px;
}

.greatest-show a{
    text-decoration: none;
}

.greatest-show a, .fa-greater-than{
    background-color: crimson;
    padding: 10px;
    border-radius: 5px;
    color:#FFFFFF;
}
.greatest-show a,.fa-greater-than:hover{
    width: 50px;
    transition: width 1s ease;
}

/* ---------------
header-style-end
------------------*/
/* ----------------
section-style-start
------------------- */

.play-information{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sidebar{
    background-color:#161616;
    width: 240px;
    height: 290px;
    border-radius: 10px;
    margin-left: 55px;
}

ul li{
    list-style: none;
    width: 174px;
    height: 30px;
    text-align: center;
    margin-right: 50px;
    margin-left: -5px;
    margin-top: 52px;

}
ul li a{
    text-decoration: none;
    font-size: 17px;
    background-color: #ffff;
}


#match{
    padding: 6% 5%;
    border-radius: 5px;
    color:#161616;
}

#all{
    padding: 6% 25%;
    border-radius: 5px;
    color:#161616;
}


#blog{
    padding: 6% 38%;
    border-radius: 5px;
    color:#161616;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 24px;
    margin-left: 12px;
}

.blog-detail button{
    background-color: #FFFFFF;
    padding: 4px 17px;
    border-radius: 5px;
    border: 1px solid;
}

.blog-detail p{
    width: 70%;
}

/* ------------------
match.html-style 
---------------------*/
.match-Schedule{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 45px;
    row-gap: 40px;
    margin-right: 65px;
}
.flag{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 190px;
    padding-top: 30px;
}

.flag .vs{
    position: relative;
    bottom: 20px;
}
/* ------------------
match.html-style 
---------------------*/

/* ----------------
section-style-end
------------------- */

/* -----------
footer-start 
--------------*/
footer{
    background-color:  #161616;
    width: 100%;
    height: 344px;
    text-align: center;
}

.goal{
    color:aliceblue;
    font-size: 24px;
    padding: 30px;
}

hr{
    width: 90%;
}

.our-service a{
    text-decoration: none;
    margin-left: 22px;
    color:#FFFFFF;
}

.social-icon .fa-brands,.fa-solid{
    font-size: 24px;
    padding: 1%;
    color:aliceblue;
    cursor: pointer;
}

footer h3{
    color: #ddd;
    font-size: 15px;
    font-family: cursive;
}
/* -----------
footer-end 
--------------*/

/* -------------
Media-query 
---------------*/

/* mobile-view 
------------------*/
